[submodule "third_party/cpp-sdl2"]
	path = third_party/cpp-sdl2
	url = https://github.com/Edhebi/cpp-sdl2
[submodule "third_party/ChaiScript"]
	path = third_party/ChaiScript
	url = https://github.com/ChaiScript/ChaiScript.git
[submodule "third_party/physfs"]
	path = third_party/physfs
	url = https://github.com/Ybalrid/physfs
[submodule "third_party/glm"]
	path = third_party/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/tinygltf"]
	path = third_party/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "third_party/imgui"]
	path = third_party/imgui
	url = https://github.com/ocornut/imgui
[submodule "third_party/cpptoml"]
	path = third_party/cpptoml
	url = https://github.com/skystrife/cpptoml
[submodule "third_party/jet-live"]
	path = third_party/jet-live
	url = https://github.com/ddovod/jet-live
[submodule "third_party/nameof"]
	path = third_party/nameof
	url = https://github.com/Neargye/nameof.git
[submodule "third_party/blink"]
	path = third_party/blink
	url = https://github.com/crosire/blink.git
[submodule "third_party/ImGuizmo"]
	path = third_party/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo
[submodule "third_party/openvr"]
	path = third_party/openvr
	url = https://github.com/ValveSoftware/openvr
